@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
}
html{
    scroll-behavior: smooth;
}
.banner {
    background-image: url("../images/banner.png");
    min-height: 750px;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    background-size: cover;
}